{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(13, 105, 44, 0.267);
    color: #384640;
}

header {
    background-color: rgb(57, 55, 71);
    padding: 20px;
    text-align: center;
}

header #logo {
    width: 250px;
}

.team { 
    background-color: #4f5464;
    padding: 50px;
    text-align: center;
}
.heading {
    background-color: rgb(52, 70, 70);
    padding: 40px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #2a404e;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.newsletter {
    text-align: center;
    margin: 30px 0;
}

input[type="email"] {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}

.product-gallery {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: #5c6c7c;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    bottom: 0;
}

#map {
    margin-top: 20px;
    text-align: center;
}
